<!DOCTYPE html>
<html lang="en">
<body align="center" bgcolor="#b0c4de">
    <h1>Search For your Land Parcel Information</h1>
    <h2>Nepal Cadatral Work</h2>
    <form action="../" method="POST">
        <table align="center" border="solid" cellpadding="10px" bgcolor="#fff8dc">
            <tr><td>
            First Name:</td><td><input type="text" name="firstname"></td>
            </tr><br>
            <tr>
            <td>Last Name:</td><td><input type="text" name="lastname"></td>
            </tr><br>
            <tr>
            <td>Citizenship no.:</td> <td><input type="text" name="citizenshipno"></td>
            </tr><br>
            <tr>
            <td>Parcel No. : </td><td><input type="text" name="parcelno"></td>
            </tr><br>
        </table>
        <table>
            <input type="submit" name="my-form" value="GO" width="6px">
            </td></tr><br>
        </table>
    </form>
</body>
</html>